.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container a {
  font-weight: 500;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.container a:hover {
  border-bottom: 4px solid green;
  color: green;
  border-color: green;
}

.header__navigation a {
  padding-left: 1rem;
}

.actions a {
  padding-right: 1rem;
}
